.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
}

th {
  text-align: left;
}

a#roll {
  padding: 5px;
  background-color: #ccc;
  border: 1px solid #222;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

.die {
  font-size: 2em;
  padding: 20px;
}

.roll {
  border: solid 2px #666;
  padding: 20px;
  background-color: orange;
}
.newText {
  padding: 40px;
}
.question {
  /* margin: 20px; */
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.answerForm {
  padding: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-control {
  padding: 20px;
}

.btn_btn-primary {
  margin: 40px;

  border-radius: 15px;
  text-align: center;
  background-color: #e759a0c0;
}
